<!--

<div class="card border-light mb-3 animated fadeIn fast" style="max-width: 18rem;">
    <h5 class="card-header">{{paciente?.first_name}} {{paciente?.last_name}}</h5>
    <div class="card-body">
      <p class="card-text">Fecha de nacimiento: {{paciente?.birthdate}}</p>
      <p class="card-text">Sexo: {{paciente?.sex}}</p>
      <p class="card-text">Semanas de gestación: {{paciente?.pregnancy_period}} semanas</p>
      <p class="card-text">Peso al nacer: {{paciente?.weight}} g</p>
      <p *ngIf="this.paciente.protocol" class="card-text">Fecha de inicio del protocolo: {{paciente?.protocolo?.fechaInicio}}</p>
    <button *ngIf="this.paciente.protocol" type="button" (click)="verCalendario(paciente.id)"  class="btn btn-outline-primary">Calendario</button>
    <button *ngIf="!this.paciente.protocol" type="button" (click)="iniciarProtocolo(paciente.id)"  class="btn btn-outline-primary">Iniciar protocolo alimentario</button>
  </div>
  <button [routerLink]="['/pacientes']" type="button" class="btn btn-outline-primary">Atrás</button>
  </div>

-->



  <div class="card text-center animated fadeIn fast">
    <div class="card-header">
      <h5 class="card-title"> {{paciente?.first_name}} {{paciente?.last_name}}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Fecha de nacimiento: {{paciente?.birthdate}}</p>
      <p class="card-text">Sexo: {{paciente?.sex}}</p>
      <p class="card-text">Semanas de gestación: {{paciente?.pregnancy_period}} semanas</p>
      <p class="card-text">Peso al nacer: {{paciente?.weight}} g</p>
      <p *ngIf="this.paciente.protocol" class="card-text">Fecha de inicio del protocolo: {{paciente?.protocolo?.fechaInicio}}</p>
      
    <button *ngIf="this.paciente.protocol" type="button" (click)="verCalendario(paciente.id)"  class="btn btn-outline-primary">Calendario</button>
    <button *ngIf="!this.paciente.protocol" type="button" (click)="iniciarProtocolo(paciente.id)"  class="btn btn-outline-primary">Iniciar protocolo alimentario</button>
    &nbsp; &nbsp;
    <button  type="button" (click)="editarPaciente(paciente.id)"  class="btn btn-outline-primary">Editar paciente</button>
    &nbsp; &nbsp;
    <button  type="button" (click)="borrarPaciente(paciente.id)"  class="btn btn-outline-danger">Borrar paciente</button>
    &nbsp; &nbsp;
    <button [routerLink]="['/pacientes']" type="button" class="btn btn-outline-primary">Atrás</button>
  </div>
  </div>
  