
<h4>Requisitos básicos para iniciar el protocolo alimenticio</h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar( forma )" #forma="ngForm">


    <div class="form-check">
        <input class="form-check-input" type="checkbox" 
        value="" 
        id="estabilidadHemodinamica" required 
        name="estabilidadHemodinamica"
        [ngModel]="protocolo.estabilidadHemodinamica"
        #estabilidadHemodinamica="ngModel"
        [class.is-invalid]="estabilidadHemodinamica.invalid && estabilidadHemodinamica.touched">
        <label class="form-check-label" for="estabilidadHemodinamica">
            ¿Estabilidad hemodinámica? (presión sanguínea y frecuencia cardíaca normales)
        </label>
        <br>
        <small *ngIf="estabilidadHemodinamica.invalid && estabilidadHemodinamica.touched" class="form-text text-danger">Este campo es obligatorio</small>
    </div>

    <br>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" 
        id="perfusion12horas" required 
        name="perfusion12horas"
        #perfusion12horas="ngModel"
        [ngModel]="protocolo.perfusion12horas"
        [class.is-invalid]="perfusion12horas.invalid && perfusion12horas.touched">
        <label class="form-check-label" for="perfusion12horas">
            ¿Perfusión estable durante las últimas 12 horas?
        </label>
        <br>
        <small *ngIf="perfusion12horas.invalid && perfusion12horas.touched" class="form-text text-danger">Este campo es obligatorio</small>
    </div>

    <br>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" 
        id="sinAsfixia" required 
        name="sinAsfixia"
        #sinAsfixia="ngModel"
        [ngModel]="protocolo.sinAsfixia"
        [class.is-invalid]="sinAsfixia.invalid && sinAsfixia.touched">
        <label class="form-check-label" for="sinAsfixia">
            ¿Ausencia de asfixia?
        </label>
        <br>
        <small *ngIf="sinAsfixia.invalid && sinAsfixia.touched" class="form-text text-danger">Este campo es obligatorio</small>
    </div>

  <br>

  <div class="form-check">
        <input class="form-check-input" type="checkbox" 
        id="pesoOSemanasAdecuado"  
        name="pesoOSemanasAdecuado"
        #pesoOSemanasAdecuado="ngModel"
        [(ngModel)]="protocolo.pesoOSemanasAdecuado">
        <label class="form-check-label" for="pesoOSemanasAdecuado">
            ¿Peso inferior a los 1500 gramos o menos de 32 semanas?
        </label>
        &nbsp;
        <label>  (Peso del paciente: {{paciente?.weight}} g, Semanas del paciente: {{paciente?.pregnancy_period}} semanas)</label>
    </div>

  <br>

  <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" 
        id="calostroOLmDisponible"  
        name="calostroOLmDisponible"
        #calostroOLmDisponible="ngModel"
        [ngModel]="protocolo.calostroOLmDisponible">
        <label class="form-check-label" for="calostroOLmDisponible">
        ¿Calostro o leche materna disponible?
        </label>
  </div>

  <br>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value=""
    id="cir"
    name="cir"
    #cir="ngModel"
    [ngModel]="protocolo.cir">
    <label class="form-check-label" for="cir">¿Crecimiento intrauterino retardado? (CIR)</label>
  </div>

  <br>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value=""
    id="cateter"
    name="cateter"
    #cir="ngModel"
    [ngModel]="protocolo.cateter">
    <label class="form-check-label" for="cateter">¿Catéter umbilical?</label>
  </div>

  <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
      &nbsp;
      &nbsp;
      &nbsp;
      <button  type="button" (click)="verPaciente(paciente.id)"  class="btn btn-outline-primary">Atrás</button>
    </div>
  </div>

</form>
