<div class="row row-cols-1 row-cols-md-3 g-4 animated fadeIn fast">
    <div *ngIf="cargando" class="alert alert-info text-center mt-3">
      <h4 class="alert-heading">Cargando</h4>
      <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
    </div>
    <div *ngIf="!cargando && pacientes.length==0"
     class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
    </div>
    <div class="col"  *ngFor="let paciente of pacientes">
      <div class="card h-100 ">
        <div class="card-body">
          <h5 class="card-title">{{paciente.first_name}} {{ paciente.last_name}}</h5>
          <p class="card-text">Fecha de nacimiento: {{paciente.birthdate}}</p>
          <!--
            <p class="card-text">Sexo: {{paciente.sex}}</p>
            <p class="card-text">Semanas de gestación: {{paciente.pregnancy_period}}</p>
            <p class="card-text">Peso al nacer: {{paciente.weight}} g</p>
          -->
        </div>
        <div class="card-footer">
          <button  type="button" (click)="verPaciente(paciente.id)"  class="btn btn-outline-primary">Más información</button>
          &nbsp;
          <button  type="button" (click)="editarPaciente(paciente.id)"  class="btn btn-outline-primary">Editar paciente</button>
          &nbsp;
          <br><br>
          <button  type="button" (click)="borrarPaciente(paciente.id)"  class="btn btn-outline-danger">Borrar paciente</button>
          &nbsp;
          &nbsp;
          <button *ngIf="this.paciente.protocol" type="button" (click)="verCalendario(paciente.id)"  class="btn btn-outline-primary">Calendario</button>
          <button *ngIf="!this.paciente.protocol" type="button" (click)="iniciarProtocolo(paciente.id)"  class="btn btn-outline-primary">Iniciar protocolo</button>
        </div>
      </div>
    </div>
    