<!--
    <p class="animated fadeIn fast">Numero de hombres: {{male}}</p>
    <p class="animated fadeIn fast">Numero de mujeres: {{female}}</p>
-->
<div class="chart-container1">
    <div echarts [options]="options1" [theme]="theme" class="demo-chart"></div>
</div>
<div class="chart-container2">
    <div echarts [options]="options2" [theme]="theme" class="demo-chart"></div>
</div>
<br><br>
<div class="chart-container3">
    <echarts [initOpts]="initOpts" [options]="options3"></echarts>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<div class="chart-container4">
  <div echarts [options]="options4" [theme]="CoolTheme" class="demo-chart"></div>
</div>
<div class="chart-container5">
  <div echarts [options]="options5" [theme]="theme" class="demo-chart"></div>
</div>
<div class="chart-container6">
  <div echarts [options]="options6" class="demo-chart"></div>
</div>


<style>
    .chart-container1 {
      float: left;
      margin-left: -100px;
      width: 400px;
    }
    
    .chart-container2 {
      float: left;
      width: 400px;
      padding-bottom: 1cm;
    }

    .chart-container3 {
      float: right;
      width: 400px;
      padding-bottom: 1cm;
    }

    .chart-container4 {
      float: left;
      margin-left: -800px;
      width: 400px;
    }

    .chart-container5 {
      float: left;
      margin-left: -400px;
      width: 400px;
    }

    .chart-container6 {
      float: right;
      margin-left: -1px;
      width: 400px;
    }


</style>


