<!--
    <p class="animated fadeIn fast">Numero de hombres: {{male}}</p>
    <p class="animated fadeIn fast">Numero de mujeres: {{female}}</p>
-->
<div class="chart-container1">
    <div echarts [options]="options1" [theme]="theme" class="demo-chart"></div>
</div>
<div class="chart-container2">
    <div echarts [options]="options2" [theme]="theme" class="demo-chart"></div>
</div>
<br><br>
<div class="chart-container3">
    <echarts [initOpts]="initOpts" [options]="options3"></echarts>
</div>

<style>
    .chart-container1 {
      float: left;
      margin-left: -100px;
      width: 400px;
    }
    
    .chart-container2 {
      float: left;
      width: 400px;
      padding-bottom: 1cm;
    }

    .chart-container3 {
      float: right;
      width: 400px;
      padding-bottom: 1cm;
    }


</style>


