<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" *ngIf="estaslogeado()==true">ECN App</a>
    <a class="navbar-brand" *ngIf="estaslogeado()==false">Inicio de sesión</a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="estaslogeado()==true">
        <li class="nav-item" routerLinkActive="active" >
          <a class="btn btn-outline-light active" type="button" aria-current="page" id="pacientesactivos" (click)="cambiarColor()"
            [routerLink]="['pacientes']">Pacientes Activos</a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" routerLinkActive="active">
          <a class="btn btn-outline-light" type="button" id="estadisticas" [routerLink]="['pacientesInactivos']" (click)="cambiarColor()">Pacientes Inactivos</a>
        </li>
        &nbsp;
        &nbsp;  
        <li class="nav-item" routerLinkActive="active">
          <a class="btn btn-outline-light" type="button" id="estadisticas" [routerLink]="['estadisticas']" (click)="cambiarColor(); dynamicDownloadJson()">Estadísticas</a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" routerLinkActive="active" *ngIf="estaslogeado()==true">
          <button (click)="agregarPaciente(); cambiarColor()" id="agregarPaciente" class="btn btn-outline-info"
            type="button">Añadir paciente</button>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" routerLinkActive="active" *ngIf="estaslogeado()==true">
          <button (click)="cerrarSesion(); cambiarColor()" id="cerrarSesion" class="btn btn-outline-danger"
            type="button">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  button:focus {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
</style>