<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" *ngIf="estaslogeado()==true">ECN App</a>
    <a class="navbar-brand" *ngIf="estaslogeado()==false">Inicio de sesión</a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="estaslogeado()==true">
        <li class="nav-item" routerLinkActive="active" >
          <a class="btn btn-outline-light active" type="button" aria-current="page" id="pacientesactivos" (click)="cambiarColor()"
            [routerLink]="['pacientes']">Pacientes Activos</a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" routerLinkActive="active">
          <a class="btn btn-outline-light" type="button" id="pacientesInactivos" [routerLink]="['pacientesInactivos']" (click)="cambiarColor()">Pacientes Inactivos</a>
        </li>
        &nbsp;
        &nbsp;  
        <li class="nav-item" routerLinkActive="active">
          <a class="btn btn-outline-light" type="button" id="estadisticas" [routerLink]="['estadisticas']" (click)="cambiarColor()">Estadísticas</a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" routerLinkActive="active" *ngIf="estaslogeado()==true">
          <button (click)="agregarPaciente(); cambiarColor()" id="agregarPaciente" class="btn btn-outline-info"
            type="button">Añadir paciente</button>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" routerLinkActive="active" *ngIf="estaslogeado()==true">
          <button (click)="cerrarSesion(); cambiarColor()" id="cerrarSesion" class="btn btn-outline-danger"
            type="button">Cerrar Sesión</button>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" routerLinkActive="active" *ngIf="this._pacientesService.getOrdenacion()==true">
          <!-- desplegable -->
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
            id="ordenar" data-bs-toggle="dropdown">Ordenar</button>
            <ul class="dropdown-menu" aria-labelledby="ordenar">
              <li><button class="dropdown-item" (click)="ordenarPredeterminado(); mantenerColor()">Predeterminado</button></li>
              <li><button class="dropdown-item" (click)="ordenarNombre(); mantenerColor()">Nombre</button></li>
              <li><button class="dropdown-item" (click)="ordenarFecha(); mantenerColor()">Fecha de nacimiento</button></li>
            </ul>
          </div>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" routerLinkActive="active" *ngIf="this._pacientesService.getEstadisticas()==true">
          <!-- desplegable -->
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
            id="descargar" data-bs-toggle="dropdown">Descargar</button>
            <ul class="dropdown-menu" aria-labelledby="descargar">
              <li><button class="dropdown-item" (click)="dynamicDownloadJson()">Json</button></li>
              <!--
                <li><button class="dropdown-item" (click)="descargarCSV()">CSV</button></li>
              -->
              
            </ul>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<style>
  button:focus {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
</style>